
/* App.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #4a96e2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar-right {
    margin-right: 20px;
}

.navbar-right a {
    margin-left: 10px;
    color: white;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0 1em; /* Optional: Add some horizontal padding */
  }

body {
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
}

img {
  max-width: 50%;
  height: auto;
}