/* Homepage.css */
.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px; /* Adjust this value based on the height of your navigation bar */
  }
  
  .post {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }